[Unit]
Description=RemoteFS Daemon
After=network.target

[Service]
Type=simple
User=%u
WorkingDirectory=/opt/vscode-remote-server-project
ExecStart=/opt/vscode-remote-server-project/daemon/venv/bin/python3 -m app.main
Restart=always

[Install]
WantedBy=multi-user.target
