[Unit]
Description=RemoteFS Daemon
After=network.target

[Service]
Type=simple
User=%u
WorkingDirectory=/opt/vscode-remote-server-project/daemon
# --folder is the directory the daemon serves; change it to your project path.
ExecStart=/opt/vscode-remote-server-project/daemon/venv/bin/python3 -m app.main --folder /opt/vscode-remote-server-project --token verySecureToken@Ooops
Restart=always

[Install]
WantedBy=multi-user.target
